<br>
<center>
  <h2 style="color:#FFFF00">비밀번호 찾기</h2>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field", style="color:#808080">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  <br>
    <div class="actions">
      <!--<%= f.submit "Send me reset password instructions" %>-->
      <button class="btn btn-outline-warning" type="submit">비밀번호 재설정</button>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</center>